name: Build and test code

on:
  push:
    branches: [main]
    paths-ignore:
      - "**.md"
      - "LICENSE*"
      - ".github/workflows/docs.yml"
      - "katex-header.html"
  pull_request:
    branches: [main]
    paths-ignore:
      - "**.md"
      - "LICENSE*"
      - ".github/workflows/docs.yml"
      - "katex-header.html"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  build:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo test --workspace --verbose --no-run
      - name: Build all targets
        run: cargo build --workspace --all-features --all-targets
      - name: Run tests
        run: cargo test --workspace --verbose